body{
    background-color: rgb(231, 105, 105);
}
h1{
    font-family: sans-serif;                                                                                                                                                                                                                                                                                                                                                                                                                                        
    color: brown;
}
p{
    font-family: sans-serif;
}